@model FlashPoints.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.FirstName @Model.LastName</h1>

<div>
    @if (Model.IsAdmin) {
        <h4>Administrator</h4> 
    } else
    {
        <h4>Student</h4>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt>
            Events Attended
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventsAttendedIDs)
        </dd>
        <dt>
            Prizes Redeemed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrizesRedeemedIDs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Manage User</a> |
    <a asp-action="Index">Back to List</a>
</div>
