@model FlashPoints.Models.User

@{
    ViewData["Title"] = "My Profile";
}
<h1>@Model.FirstName @Model.LastName</h1>
@if (Model.IsAdmin)
{
    <h4>Administrator</h4>
} else
{
    <h4>Student</h4>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt>
            Events Attended
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventsAttendedIDs)
        </dd>
        <dt>
            Prizes Redeemed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrizesRedeemedIDs)
        </dd>
    </dl>
</div>
